

*{
    margin : 0;
    padding : 0;
}


.container{
    margin : 20px;

}

.menu{
    display : flex;
    justify-content: center;
    width : 100%;
}
.menu li{
    
    text-align : center;
    margin : 0 100px 0 100px;
    
    display : block;
    
    width : 100px;
    background : black;
    border-radius : 5px;
}
.menu li a{
    text-decoration : none;
    color : white;
    display : block;
}

.subscribe{
    padding-top : 10%;
    width : 50%;
    margin: 0 auto;
}

.menu li a.active{
    border-radius : 5px;
    background : #ccc;
    color : black;
}